body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h1 {
  color: #38bdf8;
}

h2 {
  color: #38bdf8;
  margin-top: 40px;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-top: 15px;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}
.project-card a:hover {
  background: #0ea5e9;
  color: white;
}

.project-card a {
  display: inline-block;
  margin: 5px;
  padding: 8px 12px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.skills span {
  background: #38bdf8;
  padding: 8px 12px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  color: black;
}

a {
  color: #38bdf8;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
nav {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

nav a {
  color: #38bdf8;
  text-decoration: none;
}
  }
